# Ignore node_modules folder
node_modules

# Mounted folders

.docker-volumes
.upload

# Ignore build output
dist

# Ignore markdown files
*.md

# Ignore NestJS specific files
.env
.env.*
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.log

# Ignore development configs
.eslint*
.prettier*
